body {
    font-family: 'Mulish', sans-serif;
}

header {

    border-radius: 16px;
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/headerbg.png');
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0px;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    font-size: 60px;
    font-weight: 800;
    padding-bottom: 0px;
}

.text {
    color: white;
    font-size: 18px;
    font-weight: 400;
    padding-top: 0px;
    margin: 0px 50px 0px 50px;

}

.form {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.form select,
input,
button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: 0px;
}

.btn-primary {
    background-color: #FF5400;
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.form input[type="text"] {
    padding-left: 15px;
    font-size: 16px;
    font-weight: 400;
}

.when {
    color: rgba(19, 19, 24, 0.50);

}

/* main popular section */

.popular-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 50px;
}

.title-popular {
    font-size: 35px;
    font-weight: 800;
}

.button {
    padding-top: 20px;
}

.content-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Grid image section */
.row-1 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.row-2 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;

}

.row-3 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.grid-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}
.grid-para{
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
}

/* why choose us section */
.box {
    width: 500px;
    height: 230px;
    padding: 30px;

}

.box>h3 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;

}

.box>p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.one {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.two {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.three {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.why-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 100px;

}

.why-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.why-para {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-div {
    display: grid;
    grid-template-columns: 600px 600px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

/* main newsletter section  */
.news-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    margin-bottom: 100px;


}

.news-content {
    border: 2px solid #FF5400;
    border-radius: 16px;
    padding: 50px;

}

.news-content h3 {
    font-size: 24px;
    font-weight: 800;
}

.news-content p {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.news-content>form>input[type="text"],
input[type="email"] {
    width: 393px;
    height: 52px;
    background-color: rgba(19, 19, 24, 0.05);
    border-radius: 8px;
    border: 0px;
    padding-left: 10px;
}

.news-content>form>input[type="submit"] {
    font-size: 20px;
    font-weight: 800;
    color: white;
    width: 393px;
    height: 52px;
    background-color: #FF5400;
    border-radius: 8px;
    border: 0px;
}


.news-img-sec {
    border: 0px;
    border-radius: 16px;

}

.travel-off {
    width: 250px;
    height: 100px;
    color: white;
    background-color: #FF5400;
    border-radius: 16px;
    border: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 10px 0px;
    transform: rotate(-20deg);
    overflow: hidden;
    position: relative;
    top: -50px;
    right: 18px;

}

.news-img-sec {
    background-image: url('../Images/Rectangle\ 8\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 672px;
    height: 422px;
    display: flex;
    justify-content: flex-end;
    align-items: end;


}



/* footer styles */
.heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.heading h3 {
    font-size: 32px;
}

.para p {
    font-size: 16px;
    color: #5A5A5D
}

.icon-container {
    display: inline-flex;
    gap: 25px;
    padding: 30px 0px;
}

.icon img {
    width: 25px;
    height: 25px;
}

.ista {
    color: #FF5400;
}

footer {
    background-color: rgba(19, 19, 24, 0.05);
    width: 100%;
    height: 500px;
}

.footer-container {
    display: block;
    margin: 0px 300px;

}

.footer-content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;

}

.all {
    display: flex;
    justify-content: center;
    align-items: center;
}

.all p {
    color: #5A5A5D;
}